.route-planner {
  display: flex;
  padding: 20px;
  gap: 20px;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar { 
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #a1dbae;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.card input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px;
}

.combined-input label {
  margin-top: 10px;
  display: block;
}

.vehicle-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #555;
}

.vehicle {
  padding: 8px 12px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.vehicle.active {
  background: #00bfa6;
  color: white;
}

.confirm-button {
  margin-top: 15px;
  background-color: #00bfa6;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.book-button {
  background-color: #00bfa6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Main content */
.main-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.map-placeholder {
  height: 550px;
  background-color: #d6eaff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color: #555;
}

.nearby-attractions h3 {
  margin-bottom: 10px;
}

.attraction-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}
.attractions-button {
  background-color: #00bfa6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}
.attraction-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.attraction-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.no-photo {
  height: 150px;
  background-color: #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.rating {
  font-weight: bold;
  color: #f39c12;
}
